<!DOCTYPE html>
<html lang="en">
	<head>
		<title>@ViewData["Title"]</title>
		<link rel="stylesheet" href="~/css/site.css" />
		<script src="~/js/site.js"></script>
		<link rel="shortcut icon" href="~/favicon.ico" />
	</head>
	<body>
		
		@*ASp.NET will replace the RenderBoody call with content from that view that uses this layout
			Wherever RenderBody is place will be where the content goes
		*@
		@RenderBody()
		
		<footer>
			@DateTime.Today.Year
		</footer>

	</body>

</html>