@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Audio";
}
@*Tag Helper syntax-modern approach*@

<div class="sidenav">
<a asp-controller="Home" asp-action="Index">Go Home</a>
<a asp-controller="Home" asp-action="About">About</a>
</div>

<div class="content">
<h1>My audioooo page</h1>
<p>This is my audio page</p>
</div>