
@{
	ViewData["Title"] = "Home Page";
}
<a asp-controller="Home" asp-action="About">About</a>
<a asp-controller="Home" asp-action="Audio">Audio</a>		

<h1>Hello World!</h1>
<h2>This is the first page</h2>


<div class="sidenav">
 <a asp-controller="Home" asp-action="About">About</a>
<a asp-controller="Home" asp-action="Audio">Audio</a>	
</div>

<div class="content">
<h1>Hello World!</h1>
<h2>This is the first page</h2>
</div>
